DJANGO_SETTINGS_MODULE=ajmani_site.settings.production
SECRET_KEY=replace-with-a-long-random-secret
ALLOWED_HOSTS=ajmaniandlawpartners.com,www.ajmaniandlawpartners.com,your_server_ip
CSRF_TRUSTED_ORIGINS=https://ajmaniandlawpartners.com,https://www.ajmaniandlawpartners.com,http://your_server_ip
WAGTAILADMIN_BASE_URL=http://your_server_ip
SECURE_SSL_REDIRECT=false

DB_ENGINE=django.db.backends.postgresql
DB_NAME=ajmani_site
DB_USER=replace-with-db-username
DB_PASSWORD=replace-with-db-password
DB_HOST=replace-with-db-endpoint
DB_PORT=5432

USE_S3_MEDIA=true
AWS_STORAGE_BUCKET_NAME=replace-with-bucket-name
AWS_S3_REGION_NAME=ap-south-1
AWS_S3_CUSTOM_DOMAIN=
AWS_S3_ENDPOINT_URL=
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_MEDIA_LOCATION=media

EMAIL_BACKEND=django.core.mail.backends.smtp.EmailBackend
EMAIL_HOST=email-smtp.ap-south-1.amazonaws.com
EMAIL_PORT=587
EMAIL_HOST_USER=replace-with-smtp-username
EMAIL_HOST_PASSWORD=replace-with-smtp-password
EMAIL_USE_TLS=true
DEFAULT_FROM_EMAIL=lalit@ajmaniandlawpartners.com

GOOGLE_PLACES_API_KEY=
