[Unit]
Description=Ajmani and Law Partners gunicorn
After=network.target

[Service]
User=ubuntu
Group=www-data
WorkingDirectory=/var/www/ajmaniandlawpartners/app/ajmani_site
EnvironmentFile=/var/www/ajmaniandlawpartners/app/ajmani_site/.env.production
ExecStart=/var/www/ajmaniandlawpartners/app/ajmani_site/.venv/bin/gunicorn ajmani_site.wsgi:application --bind 127.0.0.1:8000 --workers 3 --timeout 120
Restart=always

[Install]
WantedBy=multi-user.target
